.pullout {
	position: absolute;
	top: 0;
	left: 0;

	width: 25vw;
	height: 100vh;
	padding: 2rem;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	z-index: 4;

	background-color: #000000cc;
	transition: left 0.5s;
}

.open-pullout {
	position: absolute !important;
	top: 100px;
	left: 50%;
	transform: translateX(-50%);
}

.pullout.compress {
	left: -25vw;
}

.problem__title {
	color: white;
	font-size: 22px;
	margin-bottom: 10px;
}

.problem__description {
	color: white;
}

.social-media {
	display: flex;
	justify-content: space-between;
	align-self: center;
	width: 100px;
}

@media only screen and (max-width: 1200px) {
	.pullout {
		display: none;
	}
}
