.App {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  position: relative;
  height: 100vh;
}

.sun {
  position: absolute;
  width: 200px;
  height: 200px;
  left: 50px;
  top: 0px;
  border-radius: 50%;
  background-color: yellow;
  animation: sunset 60s forwards
}

@keyframes sunset {
  100% {
    transform: translateY(calc(100vh - 200px)) translateX(-250px);
  }
}